function curlt() {
  curl -s -H "Authorization: Bearer $TOKEN" $*
}

watch() {
  local how_wait=${WAIT:-2}
  while true; do sleep $how_wait && $*; done
}

http-server() {
  local port=${PORT:-8080}
  echo "listening on localhost:$PORT" && while true; do { echo -e 'HTTP/1.1 200 OK\r\n'; echo 'Hello, World!'; } | nc -l $PORT; done
}